/act
/btop
/cni
/configstore
/dconf
/dlv
/evolution
/gcloud
/gnome-initial-setup-done
/google-chrome
/go/telemetry
/graphite
/.gsd-keyboard.settings-ported
/htop
/ibus
/iterm2
/monitors.xml
/nextjs-nodejs
/org.gnome.Ptyxis
/packer
/pulse
/swell
/systemd
/tailscale
/yarn
