/1Password
/act
/arkrc
/autostart
/baloofilerc
/bluedevilglobalrc
/btop
/cni
/configstore
/dconf
/discoverrc
/dlv
/dolphinrc
/drkonqirc
/environment.d
/evolution
/filetypesrc
/gcloud
/gnome-boxes
/gnome-initial-setup-done
/google-chrome
/go/telemetry
/graphite
/.gsd-keyboard.settings-ported
/gtk-3.0
/gtk-4.0
/gtkrc
/gtkrc-2.0
/htop
/ibus
/iterm2
/kactivitymanagerdrc
/kactivitymanagerd-statsrc
/katevirc
/kcminputrc
/kconf_updaterc
/KDE
/kdeconnect
/kded5rc
/kdedefaults
/kdeglobals
/kglobalshortcutsrc
/knighttimerc
/konsolerc
/konsolesshconfig
/krdpserverrc
/kscreenlockerrc
/ktimezonedrc
/kwalletmanagerrc
/kwalletrc
/kwinoutputconfig.json
/kwinrc
/kwriterc
/libaccounts-glib
/libvirt
/menus
/mimeapps.list
/monitors.xml
/nextjs-nodejs
/okularpartrc
/okularrc
/op
/org.gnome.Ptyxis
/packer
/partitionmanagerrc
/pavucontrol.ini
/plasma-localerc
/plasmanotifyrc
/plasma-org.kde.plasma.desktop-appletsrc
/plasmaparc
/plasmashellrc
/PlasmaUserFeedback
/plasma-welcomerc
/powermanagementprofilesrc
/pulse
/QtProject.conf
/session
/spectaclerc
/swell
/systemd
/systemmonitorrc
/tailscale
/Trolltech.conf
/user-dirs.dirs
/user-dirs.locale
/VeraCrypt
/xsettingsd
/yarn
