# See also: <https://github.com/mrdomino/onepass>
use_keyring: true
default_schema: mobile
include: [local.yaml]

aliases:
  alnum: '[A-Za-z0-9]{18}'
  apple: '[:Word:](-[:word:]){3}[0-9]'
  finicky: '[a-z][A-Z][0-9!-/][a-z0-9]{15}'
  finicky2: '[a-z][A-Z][0-9][!-/][!-~]{10}'
  login: '[!-~]{12}'
  mobile: '[a-z0-9]{24}'
  phrase: '[:word:](-[:word:]){4}'
  pin: '[0-9]{8}'
  strong: '[!-~]{20}'

sites:
  alpine.local:  strong
  windows.local: login
  iphone.local:  pin
  my.local:      apple
  sw.local:      apple

  apple.com:   apple
  google.com:
    schema:    phrase
    increment: 1
  hilton.com:  '[A-Z][a-z][0-9][a-z]{13}'
  pge.com:     '[0-9][A-Za-z][A-Za-z0-9]{14}'
  prismhr.com: '[A-Z][a-z][0-9][A-Za-z0-9]{15}'
